{% include header_slides.html %}

{% capture post_body %}
  <div class="article">
    {{ content }}
  </div>
{% endcapture %}
<script type="text/javascript">
  $(document).ready(function () {
    $("ul").lightSlider({
    "item": {{ page.item | default: 1 }},
    "loop": {{ page.loop | default: false }},
    "mode": "{{ page.mode | default: slide }}",
    "speed": {{ page.speed | default: 600 }},
    "pause": {{ page.pause | default: 2000 }},
    "vertical": {{ page.vertical | default: false }},
    "auto": {{ page.auto | default: false }},
    "pauseOnHover": {{ page.pauseOnHover | default: false }},
    "pager": {{ page.pager | default: true }},
    "controls": {{ page.cotrols | default: true }},
    "adaptiveHeight": {{ page.adaptiveHeight | default: false }}
        });
      });
  {% for elem in page.style %}
  function startAnim_{ { elem[0] } } () {
    $("{{ elem[0] }}")
    {% for style in elem[1].init %}
            .css("{{ style[0] }}", "{{ style[1] }}")
    {% endfor %}
    {% if elem[1].to && elem[1].from %}
            .animate({
              {% for style in elem[1].to %}
  "{{ style[0] }}": "{{ style[1] }}",
    {% endfor %}
              }, { { elem[1].duration | default: 2000 } })
            .animate({
              {% for style in elem[1].from %}
  "{{ style[0] }}": "{{ style[1] }}",
    {% endfor %}
              }, { { elem[1].duration | default: 2000 } }, startAnim_{ { elem[0] } })
  {% endif %}
        }
  startAnim_{ { elem[0] } } ();
  {% endfor %}
</script>

{% if site.layout == 'stacked' %}
  <div class="container-lg py-6 p-responsive text-center">
    {% include masthead.html metadata=false %}

    <div class="container-md f4 text-left border rounded-2 bg-white p-3 p-sm-5 mt-6">
      <p class="f5"><a href="/" class="d-flex flex-items-center">{% octicon chevron-left height:16 class:"mr-2 v-align-middle" fill:#0366d6 aria-label:Home %}Home</a></p>
      <h1 class="f00-light lh-condensed">{{ page.title }}</h1>
      <p class="{% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %} mb-5">Published {{ page.date | date: "%b %d, %Y"}}</p>
      {{ post_body }}
    </div>
  </div>
{% else %}
  <div class="d-md-flex min-height-full {% unless site.style == 'dark' %}border-md-bottom{% endunless %}">
    <div class="flex-self-stretch {% if site.style == 'dark' %}bg-gray-dark{% else %}border-md-right border-gray-light bg-white{% endif %} col-md-5 col-lg-4 col-xl-2 px-4 px-md-6 px-lg-7 py-6">
      {% include masthead.html metadata=true %}
    </div>

    <div class="col-md-7 col-lg-8 col-xl-10 px-4 py-6 px-lg-7 border-top border-md-top-0 bg-gray-light" {% if site.style == 'dark' %}style="background-color: #2f363d !important"{% endif %}>
      <div class="mx-auto" style="max-width: 1100px;">
        <div class="f4 {% if site.style == 'dark' %}text-white{% endif %} mb-6">
          <div class="f4 {% if site.style == 'dark' %}text-white{% endif %}">
            <p class="f5"><a href="{{ site.url }}{{ site.baseurl | append:'/' }}" class="d-flex flex-items-center {% if site.style == 'dark' %}text-white{% endif %}">{% octicon chevron-left height:16 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:Home %}Home</a></p>
            <h1 class="f00-light lh-condensed">{{ page.title }}</h1>
            {{ post_body }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% include footer.html %}
